<!DOCTYPE html>
<html>
<head>
  <title>Lab6</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav id="top">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Series', series_index_path %></li>
		<li><%= link_to 'Episodes', episodes_path %></li>
	</ul>
</nav>
	<header>
			<h1>Favorite TV Shows</h1>
	</header>
<article>
	<%= yield %>
</article>
</body>
</html>
