<h1><%= @lightsaber.name %></h1>
<p>
	<b>description:</b>
	<%= @lightsaber.description %>
</p>

<p>
	<b>color:</b>
	<%= @lightsaber.color %>
</p>

<p>
	<b>darkside:</b>
	<%= @lightsaber.darkside %>
</p>

<p>
	<%= display @lightsaber, 400 %>
</p>

<%= link_to 'back', lightsabers_path %>








